/* width */
::-webkit-scrollbar {
    width: 0px;
}

body {
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.bg_gif {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.bar {
    background-color: blueviolet;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 40px;
}

.bar_text {

}